$bg:rgb(0,0,0 );



.banner{
    height: 600px;
    background-color: $bg;
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
    display:flex;
    justify-content: center;
    flex-direction: column;
    >h1,p{
        color: white;
        font-size: 3rem;
        width:50%;
        z-index:10;

        
    }
    p{
        font-size: 1.2rem;
        letter-spacing: 2px;
        word-spacing: 2px;
    }
    > div{
        display: flex;
        button{
            padding:2rem;
            cursor: pointer;
            
            width:150px;
            background-color:black;
            color:white;
            z-index:10;
            outline:none;
            border:none;
            border-radius: 5px;;
            margin: 1rem;
            font-size: 1rem;
            align-items: center;
            justify-content: center;
            display: flex;
            transition: all 0.5s;
            &:hover{
              opacity: 0.6s;
              
            }
            &:nth-child(odd){
             background-color: rgb(232, 182, 17);
             color:black;
            }
            
            svg{
                font-size: 1.7rem;
                color: black;
                margin: 0 10px;
            }
            
            
        
        }
    
    }
   
    &::after{
        content:"";
        width:100%;
        height:100%;
        position: absolute;
        top:0%;
        left: 0%;
        background: $bg;
        opacity: 0.4;
    }
}

.row{
    background-color: rgb(0,0,0 );
    padding: 1rem;
   >div {
    display:flex;
    
    overflow-x: auto;
    
   }
   >h2{
   font-weight:300;

   }
}
.card{
    width: 200px;
    margin: 1rem;
    cursor:pointer;
    transition: transform 0.5s;
    &:hover{
        transform:translateY(-10px) scale(1.1);
    }

}